* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

* {
  margin: 0;
}

.indented-heading {
  background: #FFBF00;
  border-bottom: 8px solid #CC9900;
  padding: 16px 32px;
  width: fit-content;
  margin-left: -32px;
}

strong {
  color: #009966;
}

main {
  background: #666666;
  padding-block: 64px;
}

header, .card {
  border-bottom: 8px solid #999999;
}

header {
  padding-bottom: 64px;
}

.card {
  background: #FFF;
  padding-top: 8px;
  padding-bottom: 24px;
}  

.card, .intro-chunk {
  padding-inline: 24px;
}

.intro-chunk p {
  width: 415px;
}

p {
  margin-top: 16px;
  font-size: 1.3rem;
  line-height: 1.95rem;
}

h1 {
  margin-bottom: 48px;
  margin-top: 96px;
}

.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}